/*Edit table*/
table.support-ticket-edit
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.support-ticket-edit th, table.support-ticket-edit td
{
	border:1px solid #ADC3D5;
	padding: 5px 5px;
	vertical-align:top;
}

table.support-ticket-edit th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.support-ticket-edit td
{
	padding: 15px 5px;
}

/*Message*/
div.ticket-edit-message
{
	border:1px solid #ADC3D5;
	margin: 10px;
	padding:3px 5px;
}


/*Form table*/
table.support-ticket-edit-form
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
	border:1px solid #ADC3D5;
	font-size:100%;
	font-weight:normal;
	line-height:160%;
}

table.support-ticket-edit-form th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


/* Form Table: cells and head*/
table.support-ticket-edit-form td, table.support-ticket-edit-form th
{
	padding:5px;
	vertical-align:top;
}

/* Form Table: head*/
table.support-ticket-edit-form th
{
	border-bottom:1px solid #ADC3D5;
}

/* Form Table: cells field-name*/
table.support-ticket-edit-form td.field-name
{
	text-align:right;
	vertical-align:top;
}

table.support-ticket-edit-form tbody td
{
	border:none;
}

/*Images*/

div.support-paperclip
{
	background-image:url(images/paperclip.gif);
	background-repeat:repeat-x;
	width: 16px;
	height: 16px;
	float: left;
}

/*Float quote link*/
.support-float-quote
{
	float:right;
}


br.clear
{
	clear:left;
}


/* BBCode*/

.support-quote-table, .support-code-table
{
	width: 90%;
}

.support-quote-body, 
.support-code-body, 
.support-quote-table,
.support-code-table,
.support-code-textarea,
.support-quote-head,
.support-code-head
{
	padding: 2px;
	background-color: #F9FAFB; 
	font-size:100%; 
}


.support-quote-body
{
	font-style:italic;
	background-color:#F1F5F8;
}

.support-quote-table .support-quote-head, .support-code-table .support-code-head
{
	font-weight: bold;
	padding: 2px;
	background-color:#E2E9F1;
}



.support-code-textarea
{
	border-width:0;
	width: 100%;
	overflow:auto;

}

.starrequired
{
	color:#FF0000;
}

label.message_select{display: none;}
#content-table a:hover{text-decoration: underline;}

#of_sel_mess{display: none;}

.but_panel .but_block{position: absolute; right: 0; top: 8px;}
.but_panel.fixed .but_block{right: 16px;}
.but_block .add_task{margin: 0;}
#task-menu-popup{z-index: 1000; position: absolute; display: none; right: 0;}

.but_panel{height: 32px; line-height: 32px; background-color: #fff; position: relative;}
.but_panel.fixed{-webkit-box-shadow: 0 4px 10px 0 #c6c9cb; box-shadow: 0 4px 10px 0 #c6c9cb; position: fixed; top: 0; right: 63px; left: 240px; padding: 8px 16px;}
.but_panel.fixed.fixed_top{top: 39px;}
.but_panel .mess_alert_block{color: red; right: 200px; top: 0; position: absolute; display: none;}
.but_panel.fixed .mess_alert_block{top: 8px;}
.ticket-edit-panel{display: none;}

textarea{width: 100%;}
tr .bb{border-bottom: 1px solid #efefef;}
#ajax-copy-mess{display: none; min-width: 200px; min-height : 20px; max-width: 1000px; width: auto;}
#bxMenu_ticket_grid_popup.bx-popup-menu{z-index: 1110 !important;}
.sup_mess_file{width: 69px; height: 69px; float: left; margin: 10px 10px 10px 0;}
.feed-com-files-title {color: #000; float: left; font-size: 14px; font-weight: bold; min-width: 50px; margin-top: 2px;}
.c_hide{display: none;}

#SEL_CONTACT_LIST span{color: red; cursor: pointer;}
#CONTACT_A{padding-left: 10px;}

.task_list{list-style-type: none; padding: 0; margin: 0;}
.ticket_short_info{
	width: 100%;
}
.ticket_short_info div{

}
.but_panel .menu-popup-item-icon{
	display: none;
}
.but_panel .popup-window{
	padding: 0px;
}
.but_panel .menu-popup-item-text{
	padding: 0px 9px 0px 9px;
}
.but_panel .popup-window-center-column{
	width:100%;
}
table {
	border-spacing: 0px;
}
.tasks_webdav_area_title{
	font-size: 14px;
}

.close_ticket{
	float: right;
}
.open_ticket{
	float: right;
}
.close_ticket span,.open_ticket span{
	color: #6c737d;
	opacity: 1 !important;
}
.webform-small-button-arrow-left{
	display: inherit;
	width: 19px;
	background:url(images/arrow.png) no-repeat -11px 0px;

}
.but_block .form_disabled{
	background-color: #99FFFF;
}

.webform-small-button-accept{
	background: #bbed21 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #535c69 !important;
}
.webform-small-button-accept:hover{
	background: #d2f95f !important;
}
.popup-window-titlebar{
	height: 30px !important;
    padding-top: 15px;
}
#status-error{
	color: red;
	display: none;
}
.ticket-close-title{
	font-weight: 600;
	font-size: 14px;
}
