.gray{
	color: gray;
}
.hidden{
	display: none;
}
.user-selector-wrap{
	background: #eef2f4;
}
.user-selector{
	margin-left: 3em;
	font-size: 1.3em;
	padding: .5em 1em;
	display: inline-block;
}
#content_grade{
	text-align:center;
	min-height: 600px;
}
.change_grade, .change_hour{
	color: #ffffff;
    cursor: pointer;
    background-color: #3bc8f5;
    justify-content: center;
    padding: 1em;
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-right: 20px;
    font: 600 12px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    box-sizing: border-box;
	border-radius: 2px;
	height: 39px;
}
.change_grade:hover, .change_hour:hover{
	background-color: #3eddff;
}
.change_form_container{
    cursor: auto;
	display: none;
}
.change_form_container_wrap{
	position: relative;
}
.change_form_container form{
	background-color: #ffffff;
	padding: 0 20px;
	display: inline-block;
	min-width: 350px;
	text-align: center;
}
.ui-btn-main{
	background-color: #3bc8f5!important;
	color: #ffffff!important;
}
.ui-btn-main:hover{
	background-color: #3eddff!important;
}
.popup-window-button, .ui-btn-main{
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}
.popup-window-with-titlebar .popup-window-content {
    padding: 0!important;
}
.user-header h1{
	margin-top: 1em;
	margin-bottom: 1em;
}
.change_form input, .change_form select{
	height: 2em;
    border: 1px solid #c4c7cc;
    border-radius: 1px;
    color: #424956;
    font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.change_form select{
	height: 1.9em;
}
.change_form input[name="change_hours"]{
	width: 50px;
	text-align: center;
}
.change_form input[name="change_date"]{
	width: 6em;
    padding-left: 1em;
	cursor: pointer;
}
.send-button{
	text-align: center;
}
.change_form .submit_grade{
	padding: 0 1em;
    font-size: 1.2em;
    height: 2.2em;
    cursor: pointer;
    background-color: #bbed21;
    border: 0;
	color: rgb(83, 92, 105);
	font-weight: 600;
}
.grade-history-container{
	margin: 50px auto;
}
.grade-history{
	width: 100%;
	border-collapse: collapse;
	margin: 0 auto;
}
.grade-history thead{
	background-color: #d6f1fb;
}
.grade-history td, .grade-history th{
	border: 1px solid #d6d6d6;;
	padding: .8em;
}
#search_user{
	height: 2em;
    font-size: 1em;
    padding-left: 1em;
	border: 1px solid #d0cfcf;
	margin-left: 1em;
}
#search_user text{
	background-color: red;
}
.grade_error{
	background-color: #fd7b7b;
    margin-top: 1em;
    padding: 1em;
    font-size: 1.5em;
}
.grade_message{
	background-color: #bbed21;
	margin-top: 1em;
    padding: 1em;
    font-size: 1.5em;
}
.filler{
	background-color: rgb(187, 237, 33);
	padding: 0;
	margin: 0;
	width: 200px;
	height: 10px;
	display: block;
}
.grade-name{
	display:inline-block;
	margin-bottom: 10px;
}
.grade-name span{
	display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: .8em;
}
.change_form_error{
	white-space: normal;
    min-width: 400px;
    background-color: white;
    border: 1px solid red;
    color: red;
	padding: 1em;
}
.selected_user{
	background-color: red;
}
.workarea-content-paddings{
	height: 100%;
}


