#grades_wrapper{}
#grades_wrapper table{
	border: 1px solid #fff;
	border-collapse: collapse;
}
#grades_wrapper table td{
	border: 1px solid #fff;
	padding: 5px 14px 5px 5px;
	vertical-align: top;
	text-align: left;
}
#grades_wrapper table td.title-cols{
	font-size: 14px;
	width:  210px;
	padding-right: 20px;
}
#grades_wrapper table td.main-title-cols{
	font-size: 15px;
	font-weight: bold;
}

#grades_wrapper table td p{
	margin: 0 0 5px 0;
}
#grades_wrapper table td ul{
	margin: 0;
}
#grades_wrapper table td ul li{
	list-style: disc outside;
	padding: 2px;
}
#save_comment{
	display: none;
	color: #3CB427;
	margin-left: 20px;
	font-weight: bold;
}