.status_final_yes{
	border: 1px solid green; 
	width:12px; 
	height:12px; 
	border-radius:7px; 
	background-color:green;
}
.status_final_no{
	border: 1px solid grey; 
	width:12px; 
	height:12px; 
	border-radius:7px;
}