.current-grades-list {
}

.current-grades-list table {
	width:90%;
	margin:30px auto auto;
	text-align:center;
	border-bottom:3px solid #eef2f4;
}

.current-grades-list th {
	padding:10px;
	background-color:#eef2f4;
}

.current-grades-list tr td {
	padding:5px 10px;
	border-bottom:1px solid #eef2f4;
}
/*
.current-grades-list tr:nth-child(odd) td {
	background-color:#eef2f4;
}*/

.current-grades-list .departament-name {
	background-color:#eef2f4;
	font-weight:bold;
	color:#555;
}
