.task-user-selector.readonly .task-detail-sidebar-info-user,
.task-user-selector.single .task-detail-sidebar-info-user{
    padding-right: 12px;
}
.task-detail-sidebar-info-user-del {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: -6px;
	display: none;
}

.bx-touch .task-detail-sidebar-info-user-del,
.task-detail-sidebar-info-user:hover .task-detail-sidebar-info-user-del {
	display: block;
}

.task-detail-sidebar-info-user-del:after {
    content: '';
    width: 6px;
    height: 6px;
    background: url(/bitrix/js/tasks/css/images/media.png) no-repeat -2px -17px;
    position: absolute;
    margin: auto;
    top: 6px;
    left: 6px;
    opacity: 0.2;
}
.task-detail-sidebar-info-user-del:hover:after {
    opacity: 0.6;
}
.task-user-selector.single .task-detail-sidebar-info-user-del {
    display: none;
}

.task-user-selector.readonly .task-user-selector-change,
.task-user-selector.readonly .task-user-selector-add,
.task-user-selector.readonly .task-detail-sidebar-info-user-del,
.user-view-empty-false .task-user-selector-add,
.user-view-empty-true .task-user-selector-change {
    display: none;
}
.imauditor .task-user-selector-enter-auditor,
.task-user-selector-leave-auditor{
    display: none;
}
.imauditor .task-user-selector-leave-auditor {
    display: inline;
}

.task-detail-sidebar-info-user {
    position: relative;
    padding: 7px 20px 7px 12px;
    background: #d5f1fc;
    overflow: hidden;
}

.task-detail-sidebar-info-user-extranet,
.task-detail-sidebar-info-user-mail {
    background: #ffed8b;
}

.task-detail-sidebar-info-user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 13px;
    background: url(/bitrix/components/bitrix/main.post.list/templates/.default/images/sprite.png) no-repeat -51px 6px #535c6a;
}

.task-detail-sidebar-info-user-title {
    overflow: hidden;
    word-wrap: break-word;
}

.task-detail-sidebar-info-user-name {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
}

.task-detail-sidebar-info-user-extranet .task-detail-sidebar-info-user-name,
.task-detail-sidebar-info-user-mail .task-detail-sidebar-info-user-name {
    color: #bf7700;
}

.task-detail-sidebar-info-user-mail .task-detail-sidebar-info-user-name:before,
.task-detail-sidebar-info-user-extranet .task-detail-sidebar-info-user-name:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 14px;
    background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -351px;
    margin-right: 5px;
}

.task-detail-sidebar-info-user-mail .task-detail-sidebar-info-user-name:before {
    background-position: 0 -366px;
}

.task-detail-sidebar-info-user-name-link {
	color: #0b66c3;
	text-decoration: none;
}

.task-detail-sidebar-info-user-name-link:hover {
    border-bottom: 1px solid;
}

.task-detail-sidebar-info-user-pos {
    font-size: 13px;
    color: #000;
}
.task-detail-sidebar-content {
    background: #fff;
    padding: 15px 0;
    color: #535c69;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.task-detail-sidebar-info-link {
    font-size: 12px;
    color: #8d949c;
    float: right;
    line-height: 34px;
    cursor: pointer;
}
.task-detail-sidebar-info-title {
    font-weight: bold;
    line-height: 34px;
    margin-top: 15px;
}


/*more styles*/


.task-detail {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.task-detail-info {
    background: #fffded;
    margin: 0 0 20px 0
}

.template-bitrix24 .task-detail-info {
    margin: 0 15px 20px 15px
}

.task-info-panel-important {
    float: right;
    line-height: 30px
}

.task-info-panel-important span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: rgba(0,0,0,1);
    padding: 0 20px
}

.task-info-panel-important span:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -122px;
    width: 12px;
    height: 16px
}

.task-detail-header {
    background: #fff4a3;
    padding: 11px 15px 11px 20px
}

.task-detail-header-title {
    font-size: 22px;
    color: #000;
    font-family: "OpenSans-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-right: 10px;
    word-wrap: break-word
}

.task-detail-content {
    position: relative;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 22px;
    color: #535c69;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: hidden
}

.task-detail-favorite {
    cursor: pointer;
    position: absolute;
    width: 0;
    height: 0;
    border: 46px solid transparent;
    border-left: 46px solid transparent;
    border-right: 0;
    top: -30px;
    right: -7px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    z-index: 1;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    background: transparent
}

.task-detail-favorite:hover {
    border-left: 46px solid #e3eaed;
    background: #e3eaed
}

.task-detail-favorite-active,.task-detail-favorite-active:hover {
    border-left: 46px solid #f9a800;
    background: #f9a800
}

.task-detail-favorite-star {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-top: 6px solid #7e8690;
    border-left: 8px solid transparent;
    top: -2px;
    left: -37px;
    margin: auto;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg)
}

.task-detail-favorite-star:before {
    position: absolute;
    display: block;
    top: -6px;
    left: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-top: 6px solid #7e8690;
    border-left: 8px solid transparent;
    -webkit-transform: rotate(-71deg);
    -moz-transform: rotate(-71deg);
    -ms-transform: rotate(-71deg);
    -o-transform: rotate(-71deg);
    content: '';
    z-index: 4
}

.task-detail-favorite-star:after {
    position: absolute;
    display: block;
    top: -6px;
    left: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-top: 6px solid #7e8690;
    border-left: 8px solid transparent;
    -webkit-transform: rotate(71deg);
    -moz-transform: rotate(71deg);
    -ms-transform: rotate(71deg);
    -o-transform: rotate(71deg);
    content: ""
}

.task-detail-favorite-active .task-detail-favorite-star,.task-detail-favorite-active .task-detail-favorite-star:before,.task-detail-favorite-active .task-detail-favorite-star:after {
    border-top: 6px solid #fff
}

.task-detail-description {
    border-bottom: 1px solid #e7e6d6;
    margin-bottom: 15px;
    padding: 0 20px 15px 0;
    word-wrap: break-word
}

.task-detail-description-only {
    border-bottom: 0
}

.task-detail-content .task-checklist-field-edit .task-checklist-field-inner {
    max-width: 455px
}

.task-detail-content input.task-checklist-field-add {
    max-width: 100%;
    box-sizing: border-box
}

.task-detail-files {
    margin-bottom: 15px;
    padding: 20px 0 0
}

.task-detail-title {
    display: inline-block;
    color: #535c69;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin: 0 8px 0 0;
    padding: 0
}

.task-detail-checkstatus {
    font-size: 13px;
    color: rgba(83,92,105,0.7);
    font-weight: normal
}

.task-detail-subtitle {
    position: relative;
    color: rgba(83,92,105,0.6);
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    margin: 15px 5px 5px
}

.task-detail-subtitle span {
    cursor: pointer
}

.task-detail-resolved .task-detail-subtitle span:before {
    content: '';
    height: 0;
    border: 3px solid transparent;
    border-left: 3px solid #c6cacf;
    border-right: 0;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    width: 4px
}

.task-detail-resolved-open .task-detail-subtitle span:before {
    content: '';
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 3px solid #c6cacf;
    border-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 3px 0 0
}

.task-detail-resolved .task-detail-field {
    display: none
}

.task-detail-resolved-open .task-detail-field {
    display: block
}

.task-detail-field {
    position: relative;
    margin-bottom: 1px;
    overflow: hidden
}

input.task-detail-field-add {
    border: 1px solid #c6cdd3;
    outline: 0;
    line-height: 28px;
    color: #535c69;
    font-size: 14px;
    padding: 0 6px;
    width: 298px;
    margin: 10px 15px 5px 25px;
    float: left;
    height: 28px;
    border-radius: 2px;
    top: auto
}

.task-dashed-link {
    display: inline-block;
    vertical-align: middle;
    line-height: 19px;
    font-size: 14px;
    color: #1f67b0;
    cursor: pointer
}

.task-detail-field-add+.task-dashed-link {
    line-height: 30px;
    margin: 10px 0 5px;
    overflow: hidden;
    display: block
}

.task-dashed-link-inner {
    border-bottom: 1px dashed rgba(31,103,176,0.5);
    cursor: pointer
}

.task-dashed-link .task-dashed-link-inner:hover {
    border-bottom: 1px dashed rgba(31,103,176,1)
}

.task-detail-label {
    display: inline-block;
    font-size: 14px;
    color: #535c69;
    vertical-align: middle;
    line-height: 18px
}

.task-field-checkbox+.task-detail-label {
    overflow: hidden;
    display: block
}

.task-field-checkbox:checked+.task-detail-label {
    text-decoration: line-through
}

.task-detail-content-main .task-dashed-link {
    padding-left: 30px;
    margin-bottom: 20px;
    text-decoration: underline
}

.task-detail-img {
    display: inline-block;
    vertical-align: top;
    width: 75px;
    height: 75px;
    border: 1px solid #eeeeed;
    background: #fff;
    overflow: hidden
}

.task-detail-file {
    display: inline-block;
    overflow: visible
}

.task-detail-file-name {
    color: #2067b0;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom-color .2s linear;
    transition: border-bottom-color .2s linear
}

.task-detail-file-name:hover {
    border-bottom: 1px solid
}

.task-detail-file-size {
    color: #7e838c;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 0 4px;
    vertical-align: middle
}

.task-detail-file-more {
    border-bottom: 1px solid transparent;
    display: inline-block;
    color: #999;
    cursor: pointer;
    font-size: 11px;
    margin-right: 19px;
    position: relative
}

.task-detail-file-more:after {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    border-top: 3px solid #a3a6ab;
    border-bottom: 0;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: .7;
    margin-left: 4px
}

.task-detail-file-more:hover {
    text-decoration: underline
}

.task-detail-file-more:hover:after {
    opacity: 1
}

.task-detail-extra {
    padding-top: 15px;
    overflow: hidden;
    border-top: 1px solid #e7e6d6;
    width: 100%
}

.task-detail-group-label {
    vertical-align: middle;
    margin-right: 5px
}

.task-detail-group-loader {
    display: none;
    vertical-align: middle
}

.mode-loading .task-detail-group-loader {
    display: inline-block
}

.mode-loading .task-dashed-link {
    display: none
}

.task-group-field {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0
}

.group-item-set-empty-false .task-dashed-link {
    display: none
}

.task-group-field-inner {
    position: relative;
    padding-right: 24px
}

.task-group-field-label {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    line-height: 18px;
    color: #2067b0;
    border-bottom: 1px solid transparent
}

.task-group-field-label:hover {
    border-bottom: 1px solid
}

.task-group-field-title-del {
    width: 20px;
    cursor: pointer;
    height: 16px;
    display: none;
    position: absolute;
    top: 2px;
    right: 0;
    opacity: .5
}

.task-group-field:hover .task-group-field-title-del {
    display: block
}

.task-group-field-title-del:hover {
    opacity: 1
}

.task-group-field-title-del:before {
    content: '';
    background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -14px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 13px;
    height: 12px
}

.task-group-field:hover .task-group-field-title-del {
    display: inline-block
}

.task-detail-group-link {
    border-bottom: 1px solid transparent
}

.task-detail-group-link:hover {
    border-bottom: 1px solid
}

.task-detail-supertask-label,.task-detail-supertask-name {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.task-detail-supertask {
    margin-top: 5px
}

.task-detail-properties-layout a:hover {
    border-bottom: 1px solid
}

.task-detail-property-name {
    text-align: left
}

.task-detail-like {
    float: right;
    height: 27px
}

.task-detail-like .ilike-light .bx-ilike-right {
    background-position: 0 -35px
}

.task-detail-like .ilike-light .bx-you-like .bx-ilike-right {
    background-position: 0 -15px
}

.task-detail-like a {
    text-decoration: none
}

.task-detail-buttons {
    padding: 13px 15px 15px;
    text-align: left;
    border-top: 1px solid #eef2f4;
    background: #fff;
    line-height: 50px
}

.task-button-edit-link {
    color: #393939;
    font-size: 14px
}

.template-bitrix24 .task-detail-buttons {
    border-bottom: 15px solid #eef2f4
}

.webform-button-link,.webform-button-link:hover {
    color: #5e636b
}

.webform-small-button-transparent .webform-small-button-text {
    display: inline-block;
    position: relative;
    vertical-align: middle
}

.webform-small-button-transparent .webform-small-button-text:after {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    border: 3px solid transparent;
    border-top: 3px solid;
    border-bottom: 0
}

.task-detail-list {
    background: #fff;
    padding: 20px;
    overflow-x: auto
}

.template-bitrix24 .task-detail-list {
    border-bottom: 15px solid #eef2f4;
    margin-bottom: 0
}

.task-detail-list-title {
    color: #535c69;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 20px
}

.task-detail-comments {
    padding: 15px
}

.task-detail-sidebar-content {
    background: #fff;
    padding: 15px 0;
    color: #535c69;
    font-size: 13px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.template-bitrix24 .task-detail-sidebar-content {
    padding-left: 12px;
    padding-right: 12px
}

.task-detail-sidebar-status {
    background: #d5f1fc;
    font-weight: bold;
    padding: 10px
}

.task-detail-sidebar-status-date {
    font-weight: normal;
    white-space: nowrap
}

.task-detail-sidebar-item {
    padding: 15px 0;
    border-bottom: 1px solid #eef2f4;
    overflow: hidden
}

.task-detail-sidebar-item-title {
    width: 90px;
    padding-left: 10px;
    float: left;
    word-wrap: break-word
}

.task-detail-sidebar-item-value {
    color: #000;
    margin-left: 100px;
    padding-left: 5px
}

.task-detail-sidebar-item-value span {
    border-bottom: 1px dashed;
    cursor: pointer;
    display: inline-block
}

.task-detail-sidebar-item-readonly span {
    border: 0;
    cursor: text
}

.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-plus,.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-p {
    color: #15c945
}

.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-minus,.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-n {
    color: #ff4200
}

.task-detail-sidebar-item-value .task-detail-sidebar-item-value-del {
    width: 16px;
    height: 12px;
    background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 5px -410px;
    border-bottom: 0;
    vertical-align: middle;
    display: none;
    opacity: .3
}

.task-detail-sidebar-item-value-del:hover {
    opacity: .7
}

.task-detail-sidebar-item-deadline .task-detail-sidebar-item-value:hover .task-detail-sidebar-item-value-del {
    display: inline-block
}

.task-detail-sidebar-item-deadline .task-detail-sidebar-item-value span {
    font-weight: bold
}

.task-detail-sidebar-item-delay {
    padding: 8px 0 0;
    border-top: 1px solid #eef2f4;
    margin: 15px auto -7px
}

.task-detail-sidebar-item-delay-message {
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #f73100;
    padding: 5px 8px;
    background: #ffe5e0
}

.task-detail-sidebar-item-delay-message-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 8px solid transparent;
    border-bottom: 15px solid #f73100;
    border-top: 0;
    margin-top: -2px
}

.task-detail-sidebar-item-delay-message-icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 16px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ffe5e0
}

.task-detail-sidebar-item-delay-message-icon:after {
    content: '';
    position: absolute;
    top: 6px;
    left: -1px;
    right: 0;
    margin: auto;
    width: 2px;
    height: 4px;
    background: #fff;
    box-shadow: 0 2px 0 0 #f73100,0 3px 0 #fff;
    opacity: .9
}

.task-detail-sidebar-item-delay-message-text {
    display: inline-block;
    vertical-align: middle
}

.task-detail-sidebar-item-reminder .task-detail-sidebar-item-value:before {
    content: '';
    width: 10px;
    height: 12px;
    background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -38px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.task-detail-sidebar-info-title {
    font-weight: bold;
    line-height: 34px;
    margin-top: 15px
}

.task-detail-sidebar-info-title-line {
    border-bottom: 1px solid #f0f1f2
}

.task-detail-sidebar-info {
    padding: 10px;
    background: #eef2f4;
    line-height: 18px
}

.task-detail-sidebar-info a:hover {
    border-bottom: 1px solid
}

.task-detail-sidebar-info-tag {
    font-size: 14px;
    color: #5e6676
}

.task-detail-sidebar-info-tag .task-tags-line {
    display: block
}

.task-detail-sidebar-info-link {
    font-size: 12px;
    color: #8d949c;
    float: right;
    line-height: 34px;
    cursor: pointer
}

.task-detail-sidebar-content .webform-small-button {
    display: block;
    margin: 13px auto 0;
    width: 185px;
    text-align: center
}

.task-detail-sidebar-info-users-list {
    margin-top: 4px
}

.task-detail-sidebar-info-users-list .task-detail-sidebar-info-user {
    background: 0
}

.task-detail-sidebar-info-users-list .task-dashed-link {
    font-size: 12px;
    color: #8d949c;
    margin-left: 12px
}

.task-detail-sidebar-info-users-list .task-dashed-link-inner {
    border-bottom: 1px dashed rgba(141,148,156,0.5)
}

.task-detail-sidebar-info-users-list .task-dashed-link-inner:hover {
    border-bottom: 1px dashed rgba(141,148,156,1)
}

.task-detail-sidebar-info-user-more {
    font-size: 14px;
    font-weight: bold;
    color: #535c69;
    line-height: 39px;
    text-align: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #eef2f4;
    float: left;
    margin: 15px 10px 0 0
}

.task-detail-sidebar-info.template-source {
    margin-top: 20px
}

#chief- {
    margin-top: -30px;
}




