.crm-button-open span {
	border-bottom: 1px dashed #0069C4;
	outline: medium none;
	text-decoration: none;
	margin-right: 5px;
	color: #2067b0;
}
.crm-button-open span:hover {
	border-bottom: 1px dashed #E00000;
	cursor: pointer;
	color: #2067b0;
}
.crm-lable-create-entity {
	color: #000;
	font-weight: bold;
	padding: 5px 7px 5px 10px;
}
.crm-lable-create-entity:hover {
	cursor: pointer;
	background-color: #eef2f4;;
}
.crm-button-open{margin-top:10px;}
.crm_invoice_price{margin-left:5px;}
.crm_invoice_status_bar{margin-bottom:5px;}
.field_crm_entity>.crm_invoice_status_bar:last-of-type{margin-bottom:0;}
#new_invoices_select{margin-top:5px;}
#new_invoices_select table.crm-list-stage-bar-table td.crm-list-stage-bar-part div.crm-list-stage-bar-block{display:none;}
.main-grid-loader-container {
	position: absolute;
    z-index: 1;
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
	background-color: #eef2f4;
    pointer-events: none;
}
#invoice_info{position: relative;}
.crm-block-cont-item-undeletable ins, .crm-block-cont-right-item > span.crm-block-cont-item-undeletable a, a.crm-block-cont-item-undeletable{color:green!important;}
.crm-block-cont-item.crm-block-cont-item-undeletable:hover{cursor:inherit;background-color:#ffffff;;}