.support_group_container{
	width: 80vw;
    margin: 20px 3vw 10px;
}
.support_group_text{
	padding: 10px;
    font-size: 16px;
    color: #525c68;
}
.support_group_input{
	width: 100%;
	height: 40px;
}
#support-group-wrap{
	padding: 0 15px 15px 5px;
    border: 1px solid #e4e4e4;
    border-radius: 1px;
} 
.hidden{
	display: none;
}
.support-group-wrap-footer{
	display: flex;
    align-items: center;
	padding-top: 15px;
}
.support-group-wrap-footer .ui-btn{
	margin-top: 0;
}
.ui-btn{
	background-color: #3bc8f5;
    color: #fff;
	border-radius: 3px;
    font-size: 12px;
	padding: 0 26px;
    min-width: 90px;
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 19px;
    min-width: 80px;
    height: 39px;
    outline: none;
    border: none;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    font: 600 12px/39px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: 160ms color linear, 160ms background-color linear, 160ms opacity linear, 160ms padding linear;
	margin-top: 20px;
}
#support_groups_btn_send{
	margin-left: 10px;
	margin-right: 15px;
}
.support-button-cogwheel{
	height: 39px;
    line-height: 0;
    box-sizing: border-box;
	padding: 0 11px !important;
    -webkit-box-shadow: inset 0 0 0 1px #a1a6ac;
    box-shadow: inset 0 0 0 1px #a1a6ac;
	-webkit-transition: .3s;
    transition: .3s;
	background: none;
    color: #535c69;
	margin: 0 12px 0 0;
	border-radius: 2px;
    cursor: pointer;
	display: inline-block;
	font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    outline: none;
	vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
	border: none;
}
.support-button-icon{
	display: inline-block;
    margin: 11px 0 0 0;
    width: 17px;
    height: 17px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23535C68%22%20d%3D%22M11.654%2C23.56%20L11.654%2C22.093%20L10.234%2C22.093%20C10.124%2C21.403%209.86%2C20.767%209.471%2C20.221%20L10.467%2C19.226%20L9.43%2C18.189%20L8.434%2C19.184%20C7.892%2C18.79%207.26%2C18.522%206.571%2C18.404%20L6.571%2C17%20L5.106%2C17%20L5.106%2C18.4%20C4.41%2C18.513%203.772%2C18.778%203.224%2C19.17%20L2.234%2C18.18%20L1.196%2C19.218%20L2.186%2C20.206%20C1.789%2C20.756%201.523%2C21.396%201.409%2C22.093%20L0%2C22.093%20L0%2C23.56%20L1.41%2C23.56%20C1.527%2C24.25%201.795%2C24.885%202.188%2C25.43%20L1.188%2C26.428%20L2.225%2C27.465%20L3.225%2C26.465%20C3.775%2C26.855%204.413%2C27.117%205.105%2C27.23%20L5.105%2C28.655%20L6.57%2C28.655%20L6.57%2C27.225%20C7.258%2C27.111%207.888%2C26.843%208.43%2C26.453%20L9.435%2C27.459%20L10.475%2C26.421%20L9.465%2C25.413%20C9.853%2C24.873%2010.118%2C24.243%2010.233%2C23.559%20L11.653%2C23.559%20L11.654%2C23.56%20Z%20M5.82%2C25.6%20C4.284%2C25.6%203.038%2C24.353%203.038%2C22.816%20C3.038%2C21.276%204.284%2C20.031%205.821%2C20.031%20C7.361%2C20.031%208.606%2C21.278%208.606%2C22.817%20C8.606%2C24.354%207.36%2C25.601%205.822%2C25.601%20L5.82%2C25.6%20Z%22%20transform%3D%22translate%280%20-17%29%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
    background-size: cover;
    vertical-align: top;
}