.crm-list-stage-bar-part{
	border-bottom-style: none !important;
    border-left: 1px solid rgba(0,0,0,.1);
	padding: 0 !important;
    width: 20px !important;
}
.main-grid-cell-content, .main-grid-editor-container{
	color: #535c69;
    font-size: 13px;
    position: relative;
    display: block;
    vertical-align: top;
    margin: 16px 16px 16px;
}