#tetris-game {
	position: relative;
	padding: 1em;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 1em;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

#tetris-game div {
	margin: 0;
	padding: 0;
}

#tetris-game ul {
	margin: 0 0 0 1em;
	padding: 0;
	list-style-type: none;
	line-height: 1.5em;
}

#tetris-game ul li {
	margin: 0;
	padding: 0;
}

#cells, #game-info {
	float: left;
}

#tetris-game .cell {
	float: left;
	background: #f6f6f6;
	margin: 1px 1px 0 0;
	border: 1px solid #ddd;
	border-radius: 3px;
}

#tetris-game  #next-block {
	margin: 0 0 1em 1em;
}

#tetris-game .next-cell {
	float: left;
	background: #f6f6f6;
	margin: 1px 1px 0 0;
	border: 1px solid #ddd;
	border-radius: 2px;
}

#tetris-game .clear {
	clear: both;
}

#tetris-game  .new-level-message {
	position: absolute;
	width: 100%;
	margin: 230px -10pt;
	text-align: center;
	font-size: 7em;
	font-weight: bold;
	color: red;
	background: transparent;
	display: none;
}

#tetris-game  #game-over-message {
	position: absolute;
	left: 0;
	width: 80%;
	line-height: 1.5em;
	text-align: center;
	font-weight: bold;
	color: red;
	background: #111;
	opacity: 0.95;
	border-radius: 10pt;
	display: none;
}